<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/get-form-data" method="post">
        <input type="text" name="name" placeholder="Enter username">
        <input type="text" name="email" placeholder="Enter email">
        <input type="text" name="password" placeholder="password">
        <button>Submit</button>
    </form>

    <script src="index.js"></script>
</body>
</html>